body{
    background-color:#EEEEEE;
}

.h1-wrapper{
    width:100%;
    height:100vh
}

.h1-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

h1{
    font-size:7vw;
}
